:root {
  --slidev-content-padding-left: 2.5rem;
  --slidev-content-padding-right: 2.5rem;
  --slidev-content-padding-top: 1.5rem;
  --slidev-content-padding-bottom: 1.5rem;
}

.slidev-layout {
  padding-left: var(--slidev-content-padding-left);
  padding-right: var(--slidev-content-padding-right);
  padding-top: var(--slidev-content-padding-top);
  padding-bottom: var(--slidev-content-padding-bottom);
}

.dark .slidev-layout {
  color: #e3e3e3;
}

.dark .slidev-layout h1,
.dark .slidev-layout h2,
.dark .slidev-layout h3,
.dark .slidev-layout h4,
.dark .slidev-layout h5,
.dark .slidev-layout h6 {
  color: #fff;
}

h1 {
  line-height: 4.5rem !important;
  margin-bottom: 2rem !important;
}
